* {
  box-sizing: border-box;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
:focus {
  outline: 0 !important;
}
.techmaster-font-open-sans {
  font-family: Open Sans, sans-serif;
}
body,
html {
  background-color: #f4f7fa;
  color: #464646;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}
body {
  overflow-y: scroll;
}
.container {
  width: 1320px !important;
}
.body-content {
  padding-bottom: 3rem !important;
  padding-top: 3rem !important;
}
.btn-green {
  background-color: #26a69a;
}
.btn-green:hover {
  background-color: rgba(38, 166, 154, 0.78);
}
.btn-red {
  background-color: #f44336;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  color: #fff;
  outline: 0;
  text-align: center;
  transition: 0.5s;
}
.btn-red:hover {
  background-color: rgba(244, 67, 54, 0.749);
  color: #fff;
}
.btn-white {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  color: #464646;
  outline: 0;
  text-align: center;
  transition: 0.5s;
}
.btn-white:hover {
  background-color: #f9f9f9;
}
.btn-blue {
  background-color: #3c78e9 !important;
  border-radius: 4px !important;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25) !important;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25) !important;
  color: #fff !important;
  outline: 0 !important;
  text-align: center !important;
  transition: 0.5s !important;
}
.btn-blue:hover {
  background-color: rgba(60, 120, 232, 0.871) !important;
  color: #fff !important;
}
.btn-green {
  background-color: #66bb6a;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  color: #fff;
  outline: 0;
  text-align: center;
  transition: 0.5s;
}
.btn-green:hover {
  background-color: rgba(102, 187, 106, 0.871);
  color: #fff;
}
#header {
  background-color: #30598c;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.breadcrum-div {
  margin-bottom: 15px;
}
.breadcrum-div a {
  color: #464646;
  font-size: 1rem;
}
.breadcrum-div .bc {
  font-size: 0.6rem;
  padding: 0 1rem;
}
#back-to-top {
  background: #ff6b1e;
  border-radius: 50%;
  bottom: 100px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  color: #fff;
  cursor: pointer;
  display: inline;
  height: 45pt;
  line-height: 82px;
  opacity: 0;
  padding: 0;
  position: fixed;
  right: 18pt;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.15s linear;
  width: 45pt;
  z-index: 9999;
}
#back-to-top.show {
  opacity: 0.5;
}
#back-to-top.show:hover {
  opacity: 1;
}

.shopping-cart-mobile {
  opacity: 0;
}
.has-product {
  min-height: 500px;
}
.cart-item-detail {
  display: flex;
}
.course-img {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  min-height: 150px;
  overflow: hidden;
  position: relative;
  width: 200px;
}
.course-img:before {
  content: "";
  display: block;
  padding-top: 70%;
}
.course-img img {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}
.confirm-body {
  display: none;
}
.contact-person {
  padding-left: 30px;
}
.cash-payment,
.charge-at-home-payment,
.transfer-payment {
  display: none;
}
.payment-info {
  margin: 30px 0 100px;
}
.discount-value {
  font-size: 1.2rem;
}
.promotion-content a {
  color: #5e5e5e;
  cursor: pointer;
}
.promotion-content a:hover {
  text-decoration: none;
}
.voucher-code {
  color: #f99600;
  font-size: 1.2rem;
}
.promotion-content {
  border: 1px solid #c3c3c3;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 15px;
}
.pro-item {
  display: block;
  width: 100%;
}
.pro-item > input {
  position: absolute;
  visibility: hidden;
}
.pro-item > input + div {
  cursor: pointer;
}
.pro-item > input:checked + div {
  background-color: #d9e8f7;
  border: 1px solid #3c78e8;
}
.btn-see-promotion {
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 2px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.03);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.03);
  outline: 0;
  padding: 0 10px;
}
.btn-see-promotion:hover {
  background-color: rgba(0, 0, 0, 0.09);
}
.btn-see-promotion:focus {
  outline: 0;
}
.promotion-container {
  font-size: 0.9rem;
}
.btn-remove-item {
  cursor: pointer;
}
.no-product {
  padding: 30px 15px;
  text-align: center;
}
.no-product,
.tab-cart {
  min-height: 350px;
}
.btn-send-order {
  margin-top: 10px;
}
.company-info {
  display: none;
}
.export-receipt-container {
  cursor: pointer;
  position: relative;
  width: 100%;
}
.export-receipt-container:hover {
  cursor: pointer;
}
#has-export-receipt {
  cursor: pointer;
  height: 40px;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 3;
}
.label-export-receipt {
  margin-left: 35px;
}
.checkmark-export-receipt {
  border: 1px solid #c3c3c3;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}
.export-receipt-container .checkmark-export-receipt:after {
  background-color: #fff;
  content: "";
  height: 6px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 6px;
  z-index: 2;
}
.export-receipt-container
  input[type="checkbox"]:checked
  ~ .checkmark-export-receipt {
  background-color: #2196f3;
}
.btn-back-cart {
  cursor: pointer;
  font-size: 1rem;
}
.account-info {
  margin-top: 10px;
  padding: 15px 15px 20px;
}
.account-info input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #c4c4c4;
  border-radius: 4px;
  height: 40px;
  outline: 0;
  width: 100%;
}
.panel {
  background-color: #f4f7fa;
  border: 1px solid #c3c3c3;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.btn-delete {
  margin-top: 10px;
}
#btn-move-to-payment {
  margin-top: 5px;
  width: 100%;
}
.total-info {
  display: flex;
  justify-content: space-between;
}
.clear {
  clear: both;
}
.tab-payment {
  display: none;
}
.cart-item {
  overflow: hidden;
  padding: 0;
  width: 100%;
}
.cart-item:not(:first-child) {
  margin-top: 20px;
}
.cart-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 150px;
  padding: 15px 30px;
  width: calc(100% - 200px);
}
.cart-item-title {
  float: left;
  font-size: 1.2rem;
  width: 70%;
}
.cart-item-title a {
  color: #5e5e5e;
}
.cart-item-price {
  float: left;
  text-align: right;
  width: 30%;
  color: #f99600;
  font-size: 1.2rem;
}
.address-detail {
  border: 1px solid #ced4da;
  border-radius: 4px;
  resize: none;
  width: 100%;
}
.payment-method-detail {
  margin: 30px auto auto;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
.container-ent {
  width: 100%;
}
.method-item {
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  display: none;
  padding: 30px 30px 0;
  width: 100%;
}
.method-active {
  display: block;
}
.payment-total-bill {
  margin-top: 28px;
  padding: 15px;
}
.checkout-list-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.checkout-list-price {
  justify-content: space-between;
}
.checkout-list-item,
.checkout-list-price {
  border-top: 1px dashed #dedede;
  display: flex;
  padding: 15px 0;
}
.checkout-list-item {
  font-size: 0.85rem;
}
.checkout-list-course-name {
  padding-right: 15px;
  width: 65%;
}
.checkout-list-course-price {
  text-align: right;
  width: 35%;
}
.promocodeform-code {
  border: 1px solid #c4c4c4;
  border-radius: 3px;
  display: flex;
  height: 35px;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
}
.container-payment {
  cursor: pointer;
  display: block;
  margin-bottom: 30px;
  padding-left: 35px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}
.container-payment input[type="radio"] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}
.checkmark-payment {
  background-color: #eee;
  border-radius: 50%;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}
.container-payment input[type="radio"]:checked ~ .checkmark-payment {
  background-color: #2196f3;
}
.container-payment input[type="radio"]:checked ~ .method-item {
  display: block;
}
.checkmark-payment:after {
  content: "";
  display: none;
  position: absolute;
}
.container-payment input:checked ~ .checkmark-payment:after {
  display: block;
}
.container-payment .checkmark-payment:after {
  background: #fff;
  border-radius: 50%;
  height: 6px;
  left: 7px;
  top: 7px;
  width: 6px;
}

.cart-item-title p {
    font-size: 15px; 
    color: grey;
}
.btn-count{
    border: 1px solid gray;
    width: 20px;
    height: 20px;
} 
.btn-count span{
    position: relative;
    top: -8px;
    left: -2px;
}

.cart-item-amount{
    position: relative;
    top: -10px;
}

.cart-item-quantity{
    font-size: 18px;
    position: relative;
    top: -6px;
}